@import 'https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Sans+Pro';

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 80px 0;
	color: #fff;
	background-color: #37474f;
	font: 24px/1.4 'Source Sans Pro', sans-serif;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
}

header {
	text-align: center;
}

h1, h2 {
	text-shadow: 4px 4px 0 #000;
	transform: scaleY(1.4);
}

h1 {
	margin: 0;
	font: 64px 'Press Start 2P', sans-serif;
}

h1::before, h1::after {
	content: ' - ';
}

h2 {
	margin: 40px 0 0;
	color: #46a4e8;
	font: 32px 'Press Start 2P', sans-serif;
}

h3 {
	margin: 0 0 20px;
	font-size: 36px;
	text-transform: uppercase;
}

.mushroom {
	display: inline-block;
	margin-top: 40px;
	width: 128px;
	animation: 4s bounce infinite;
}

@keyframes bounce {
	50% {
		transform: translateY(0);
		animation-timing-function: ease-out;
	}
	55% {
		transform: translateY(-60px) rotate(10deg);
		animation-timing-function: ease-in;
	}
	60% {
		transform: translateY(0);
		animation-timing-function: ease-out;
	}
	62.5% {
		transform: translateY(-20px) rotate(-5deg);
		animation-timing-function: ease-in;
	}
	65% {
		transform: translateY(0);
	}
}

main {
    position: relative;
	margin-top: 20px;
	padding: 60px 20px 70px;
	background-color: #253137;
}

main::before, main::after {
	content: '';
    display: block;
    position: absolute;
	left: 0;
	width: 100%;
	height: 32px;
	background-repeat: repeat-x;
    background-size: 32px 32px;
}

main::before {
    background-image: linear-gradient(45deg, transparent 32px, #37474f 0), linear-gradient(-45deg, transparent 32px, #37474f 0);
	background-position: top;
    top: 0;
}

main::after {
    background-image: linear-gradient(45deg, #37474f 16px, transparent 0), linear-gradient(-45deg, #37474f 16px, transparent 0);
    background-position: 8px top;
    bottom: 0;
}

p {
	margin: 0;
}

form {
	max-width: 600px;
	margin: 40px auto 0;
	padding: 40px 60px;
	border: 4px dashed #37474f;
	border-radius: 20px;
}

.input-row {
	margin-bottom: 16px;
}

.input-row::after {
	content: '';
	display: block;
	clear: both;
}

label {
	float: left;
	width: 200px;
}

input[type='text'], input[type='email'] {
	float: left;
	clear: left;
	width: 100%;
	margin: 4px 0 0;
	padding: 8px 12px;
	border: none;
	border-radius: 10px;
	font-size: inherit;
	font-family: inherit;
	appearance: none;
}

.submit-row {
	margin-top: 60px;
	text-align: center;
}

input[type='submit'] {
	width: 400px;
	padding: 10px 40px;
	border: 4px solid #fff;
	color: #fff;
	background-color: #46a4e8;
	font-size: 32px;
	font-family: inherit;
	cursor: pointer;
}
