@import 'https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Sans+Pro';

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 80px 0;
	color: #fff;
	background-color: #37474f;
	font: 24px/1.4 'Source Sans Pro', sans-serif;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
}

header {
	text-align: center;
}

h1, h2, h4 {
	font-family: 'Press Start 2P', sans-serif;
	text-shadow: 4px 4px 0 #000;
	transform: scaleY(1.4);
}

h1 {
	margin: 0;
	font-size: 64px;
}

@media only screen and (min-width: 1180px) {
	/* because the dashes look weird when wrapped */
	h1::before, h1::after {
		content: ' - ';
	}
}

h2 {
	margin: 40px 0 0;
	color: #46a4e8;
	font-size: 32px;
}

h3 {
	margin: 0 0 20px;
	font-size: 36px;
	text-transform: uppercase;
}

h4 {
	margin: 0 0 30px;
	text-align: center;
	font-size: 36px;
	color: #46a4e8;
}

.mushroom {
	display: inline-block;
	margin-top: 40px;
	width: 128px;
	animation: 4s bounce infinite;
}

@keyframes bounce {
	50% {
		transform: translateY(0);
		animation-timing-function: ease-out;
	}
	55% {
		transform: translateY(-60px) rotate(10deg);
		animation-timing-function: ease-in;
	}
	60% {
		transform: translateY(0);
		animation-timing-function: ease-out;
	}
	62.5% {
		transform: translateY(-20px) rotate(-5deg);
		animation-timing-function: ease-in;
	}
	65% {
		transform: translateY(0);
	}
}

main {
    position: relative;
	margin: 20px 0 40px;
	padding: 60px 20px 70px;
	background-color: #253137;
}

main::before, main::after {
	content: '';
    display: block;
    position: absolute;
	left: 0;
	width: 100%;
	height: 32px;
	background-repeat: repeat-x;
    background-size: 32px 32px;
}

main::before {
    background-image: linear-gradient(45deg, transparent 32px, #37474f 0), linear-gradient(-45deg, transparent 32px, #37474f 0);
	background-position: top;
    top: 0;
}

main::after {
    background-image: linear-gradient(45deg, #37474f 16px, transparent 0), linear-gradient(-45deg, #37474f 16px, transparent 0);
    background-position: 8px top;
    bottom: 0;
}

p {
	margin: 0;
}

form {
	position: relative;
	max-width: 600px;
	margin: 40px auto;
	padding: 40px 90px;
	border: 2px solid rgba(255, 255, 255, 0.25);
	background-color: #37474f;
	box-shadow: 4px 4px 0 #000;
}

.bolt {
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #fff;
	transform: rotate(45deg);
}

.bolt::before {
	content: '';
	display: block;
	position: absolute;
	width: 4px;
	margin: 0 10px;
	height: 24px;
	background-color: #37474f;
}

.bolt-top-left {
	top: 20px;
	left: 20px;
}

.bolt-top-right {
	top: 20px;
	right: 20px;
}

.bolt-bottom-left {
	bottom: 20px;
	left: 20px;
}

.bolt-bottom-right {
	bottom: 20px;
	right: 20px;
}

.input-row, .checkbox-row {
	position: relative;
	margin-bottom: 16px;
}

.input-row::after, .checkbox-row::after {
	content: '';
	display: block;
	clear: both;
}

input:focus {
	/* focus cue given by other styles */
	outline: none;
}

.input-row input {
	width: 100%;
	margin: 4px 0 0;
	padding: 8px 12px;
	border: none;
	border-radius: 4px;
	font-size: inherit;
	font-family: inherit;
	appearance: none;
}

.input-row.focused::before {
	content: url(images/cursor.png);
	position: absolute;
	top: 42px;
	left: -76px;
}

.checkbox-row input {
	position: absolute;
	left: -9999px;
}

.checkbox-row input + label {
	display: block;
	clear: left;
	float: left;
	position: relative;
	margin: 6px 0 0 20px;
	cursor: pointer;
}

.checkbox-row input + label::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	background-color: #fff;
	vertical-align: -2px;
}

.checkbox-row input:checked + label::before {
	background-color: #46a4e8;
	border: 4px solid #fff;
}

.checkbox-row input:focus + label::after {
	content: url(images/cursor.png);
	position: absolute;
	top: -2px;
	left: -76px;
}

.submit-row {
	margin-top: 60px;
	text-align: center;
}

.submit-row input {
	width: 300px;
	padding: 10px 40px;
	border: none;
	color: #fff;
	background-color: #46a4e8;
	font-size: 32px;
	font-family: inherit;
	cursor: pointer;
	box-shadow: 4px 4px 0 #000;
	text-transform: uppercase;
}

.submit-row input:hover, .submit-row input:focus {
	padding: 6px 36px;
	border: 4px solid #fff;
}
